<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Scanner</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--<ion-card class="formCard" *ngIf="">
    <ion-list>
      <ion-item>
        <ion-label>Nom</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Prenom</ion-label>
        <ion-input type="text"><p>let me put some paragraph in</p></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>-->

  <button class="buttonScan" ion-button color="primary" full round (click)="scan()"><ion-icon name="qr-scanner"> Scanner</ion-icon></button>
  <ion-card *ngIf="infos">
    <ion-card-content>
      Données du scan: {{ infos }}
    </ion-card-content>
  </ion-card>
</ion-content>
